* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0.8);
    color: #cdd6f4;
}

#workspaces button {
    padding: 0 8px;
    background: transparent;
    color: #cdd6f4;
    border: 2px solid transparent;
    border-radius: 8px;
}

#workspaces button.active {
    background: #cba6f7;
    color: #1e1e2e;
    border: 2px solid #cba6f7;
}

#workspaces button:hover {
    background: #585b70;
    border: 2px solid #585b70;
}

#window {
    padding: 0 12px;
    color: #cdd6f4;
}

#clock, #cpu, #memory, #pulseaudio, #battery {
    padding: 0 12px;
    margin: 0 4px;
    background: #1e1e2e;
    border-radius: 8px;
}

#cpu {
    color: #94e2d5;
}

#memory {
    color: #f9e2af;
}

#pulseaudio {
    color: #89b4fa;
}

#battery {
    color: #a6e3a1;
}
